.unrolled {
  text-decoration: line-through;
}

.basic-text {
  display: inline;
  padding: 7px 0px;
  width: 90%;
  color: #555;
  font-size: 1.2em;
  border: 1px solid #ccc;
}

.thanks-header {
  margin-bottom:20px;
}

.thanks-stats {
  float:right;
  width:20%;
  border-left:1px solid #bbb;
  padding:20px;
}

.thanks-main {
  float:left;
  width: 70%;
}

.thanks-main-mng {
  float:left;
  width: 80%;
}

#content{
  overflow: visible !important;
}

a.info {
  text-decoration: none;
  background-image: url(../images/help.png);
  background-position: 0% 40%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
}
