<div class="tabs">
  <ul>
    <li><%= link_to 'Say thanks', '#', class: 'selected' %></li>
    <li><%= link_to 'Given thanks', '#' %></li>
    <li><%= link_to 'Received thanks', '#' %></li>

    <%# todo: dodatkowe linki dla managera %>
  </ul>
</div>
